<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Facebook OG -->
    <meta property="fb:app_id"             content="" />
    <meta property="og:url"                content=""/>
    <meta property="og:type"               content=""/>
    <meta property="og:title"              content=""/>
    <meta property="og:description"        content=""/>
    <meta property="og:image"              content=""/>
<!-- Facebook OG ENDS -->

    <title>Beelzebub Design System</title>
    <link rel="icon" type="image/png" href="../../favicon.png">
    <link rel="stylesheet" href="../../wmk-template/css/main.css">
    <link rel="stylesheet" href="../../css/main.css">

<!--This is Google Analytics-->
    <script>
    </script>
<!--END of Google Analytics-->

<!-- Facebook Pixel Code -->
    <script>
    </script>
<!-- End Facebook Pixel Code -->

</head>
  <body>

    <!-- Top Nav -->
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">WealthMagik Design System</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="../../images/logo.svg" alt="logo" class="logo-image">WealthMagik Design System</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="../../index.html">Foundation</a></li>
          <li class="active"><a href="components.html">Components</a></li>
          <li><a href="../../resources.html">Resources</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a>v1.01 by Ahancer</a></li>
        </ul>
      </div>
    </nav>
    <!-- End of Top Nav -->

    <!-- Body Container -->
    <div class="body-container">
      <div class="menubar">
        <h3><a href="components.html">Components</a></h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="component-button.html">Button</a></li>
          <li><a href="component-tab.html">Tab</a></li>
          <li><a href="component-button-toggle.html">Button Toggle</a></li>
          <li><a href="component-dropdown.html">Dropdown</a></li>
          <li><a href="component-input.html">Input Field</a></li>
          <li><a href="component-checkbox-and-radio.html">Checkbox and Radio</a></li>
          <li><a href="component-card.html">Card</a></li>
          <li><a href="component-table.html">Table</a></li>
          <li><a href="component-popup.html">Popup</a></li>
          <li><a href="component-search.html">Search</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="container">
          <div class="row">

            <!-- Article -->
            <div class="article col-sm-12 col-md-11 col-lg-10">
              <section class="article-section">
                <h1>Components</h1>
                <p>Components are interactive building blocks for creating a user interface.</p>
                <div class="row gallery">
                  <div class="col-xs-4">
                    <div class="gallery-item">
                      <a href="component-button.html">
                        <img src="../../images/wmk/component/img-component-index-button.png" class="img-responsive">
                        <h3>Button</h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="gallery-item">
                      <a href="component-button.html">
                        <img src="../../images/wmk/component/img-component-index-tab.png" class="img-responsive">
                        <h3>Tab</h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="gallery-item">
                      <a href="component-button.html">
                        <img src="../../images/wmk/component/img-component-index-button-toggle.png" class="img-responsive">
                        <h3>Button Toggle</h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="gallery-item">
                      <a href="component-button.html">
                        <img src="../../images/wmk/component/img-component-index-dropdown.png" class="img-responsive">
                        <h3>Dropdown</h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="gallery-item">
                      <a href="component-button.html">
                        <img src="../../images/wmk/component/img-component-index-input.png" class="img-responsive">
                        <h3>Input Field</h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="gallery-item">
                      <a href="component-button.html">
                        <img src="../../images/wmk/component/img-component-index-checkbox-and-radio.png" class="img-responsive">
                        <h3>Checkbox and Radio</h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="gallery-item">
                      <a href="component-button.html">
                        <img src="../../images/wmk/component/img-component-index-card.png" class="img-responsive">
                        <h3>Card</h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="gallery-item">
                      <a href="component-button.html">
                        <img src="../../images/wmk/component/img-component-index-table.png" class="img-responsive">
                        <h3>Table</h3>
                      </a>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="gallery-item">
                      <a href="component-button.html">
                        <img src="../../images/wmk/component/img-component-index-popup.png" class="img-responsive">
                        <h3>Popup</h3>
                      </a>
                    </div>
                  </div>
                </div>
              </section>

            </div>
            <!-- End of Article -->

        </div>
      </div>
    </div>
    <!-- End of Body Container -->



    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../js/main.js"></script>

  </body>
</html>
